PORT=3000
HOST=0.0.0.0
VAPID_SUBJECT=mailto:admin@example.com
PUBLIC_VAPID_KEY=BFEd6AGucw5QNeAi9ddC5-wxL5ppiiYkFYxyURzWuEt6Hr6JATJBgDTUONmk2tyFmKXusgmnSDJayDSCVnXluFw
PRIVATE_VAPID_KEY=qQh3gd3Ozsh66j91AUaZ_eFk_x4VfsbIbM6fDG_nwGE
ALLOWED_ORIGIN=*
TRUST_PROXY=false
TURN_URLS=
TURN_USERNAME=
TURN_CREDENTIAL=
